@font-face {
	font-family: 'Roboto Mono';
	src: url('./fonts/RobotoMono-VariableFont_wght.ttf');
	font-weight: 1 1000;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('./fonts/RobotoMono-Italic-VariableFont_wght.ttf');
	font-weight: 1 1000;
	font-style: italic;
}

:root {
	font-family: 'Roboto Mono', Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;

	background-color: #242424;
	color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;

	/* determines the difference between each sec, min and hour dials */
	--time-dial-gap: 70px;

	--seconds-dial-radius: 800px;
	--minutes-dial-radius: calc(var(--seconds-dial-radius) - var(--time-dial-gap));
	--hours-dial-radius: calc(var(--minutes-dial-radius) - var(--time-dial-gap));

	--day-dial-radius: 730px;
	--month-dial-radius: 630px;
	--year-dial-radius: 630px;
	--dial-transition: 300ms ease;
}

html,
body,
#root,
.app {
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* debug: check alignment */
/* #root::after {
	content: '';
	position: absolute;
	inset: 50%;
	outline: 1px solid pink;
}

 .dial__mark::after {
	content: '';
	position: absolute;
	width: 0;
	inset: 50% 0 auto auto;
	outline: red 1px solid;
}

.dial__mark::before {
	content: '';
	position: absolute;
	inset: auto 0 0 0;
	height: 1px;
	background-color: red;
}
*/
